<!-- TODO -->
<section class="forms-container report">
  <h1>Nová otázka</h1>

  <form action="">
    <div class="form-other-con">
      <div class="form-description">Polia označené * sú povinné.</div>

      <div class="form-items-con">
        <div class="form-item-wrapper">
          <label for="title">Text otázky*</label>
          <textarea placeholder="Sem napíš svoju otázku"></textarea>
        </div>
        <div class="form-item-wrapper">
          <label for="title">Obec*</label>
          <div class="dropdown-button">
            <span class="gray-text">Vybrať</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
              <polygon points="7 14.07 0 7.07 1.14 5.93 7 11.79 12.86 5.93 14 7.07 7 14.07"/>
            </svg>
          </div>
        </div>
        <div class="form-item-wrapper">
          <label for="title">Lokalita</label>
          <input type="text" name="" placeholder="">
        </div>
        <div class="form-item-wrapper">
          <label for="title">Obrázok*</label>
          <a class="button button-transparent reset-margin">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20">
              <polygon points="16 9.25 8.75 9.25 8.75 2 7.25 2 7.25 9.25 0 9.25 0 10.75 7.25 10.75 7.25 18 8.75 18 8.75 10.75 16 10.75 16 9.25" fill="#1c3054"/>
            </svg>
            <span>Pridať obrázok</span>
          </a>
        </div>
        <div class="form-item-wrapper">
          <label for="title">Kategória</label>
          <div class="dropdown-button">
            <span class="gray-text">Vybrať</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
              <polygon points="7 14.07 0 7.07 1.14 5.93 7 11.79 12.86 5.93 14 7.07 7 14.07"/>
            </svg>
          </div>

          <ul class="dropdown-list">
            <li>Komunikácie</li>
            <li>Mobiliár</li>
            <li>Značenie</li>
            <li>Osvetlenie</li>
            <li>Kanalizácia</li>
          </ul>
        </div>
      </div>

      <input class="button" type="submit" value="Odoslať">
    </div>
  </form>
</section>
