<%= content_for :title, "Automatická kontrola podnetu" %>

<section class="report">
  <%= turbo_frame_tag @draft, src: generate_issues_draft_checks_path(@draft), target: :_top do %>
    <h1 class="center">Automatická kontrola podnetu</h1>
    <%= image_tag "loading.gif", style: "width: 10em; margin: 0 auto; display: block;" %>
  <% end %>
</section>
