<%= content_for :title, "Automatická kontrola podnetu" %>

<section class="report">
  <h1>Podnet má problém</h1>

  <% if @draft.errors[:base].any? %>
    <div class="report-summary-block-con">
      <div class="report-warning">
        <div class="title">Odkaz pre starostu tu ešte nefunguje</div>
        <div class="description">
          <p>Snažíte sa nahlásiť podnet na adrese v&nbsp;samospráve, ktorá s projektom <strong>Odkaz pre starostu</strong> ešte nespolupracuje.</p>
        </div>
      </div>
    </div>

    <%= link_to "Upraviť podnet", issues_draft_summary_path(@draft), class: "button button-transparent" %>
  <% elsif @draft.errors[:checks].any? %>
    <%= render partial: 'checks', object: @draft.checks %>
  <% end %>
</section>