<div class="how-to-block" data-controller="carousel">
  <div class="how-to-con" data-carousel-target="slide">
    <div class="text-wrapper">
      <div class="title">Ako to funguje?</div>
      <div class="subtitle">1. Upozornite na problém cez web alebo smartfón</div>
    </div>
    <div class="images-block">
      <figure>
        <%= image_tag 'how-to-phone.svg' %>
      </figure>
    </div>
    <div class="how-to-button-con">
      <a href="" class="button-how-to button-back inactive" data-carousel-target="previous" data-action="click->carousel#previous">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20">
          <polygon points="2.21 19.71 .79 18.29 9.09 10 .79 1.71 2.21 .29 11.91 10 2.21 19.71"/>
        </svg>
      </a>
      <a href="" class="button-how-to button-next" data-carousel-target="next" data-action="click->carousel#next">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20">
          <polygon points="2.21 19.71 .79 18.29 9.09 10 .79 1.71 2.21 .29 11.91 10 2.21 19.71"/>
        </svg>
      </a>
    </div>
  </div>

  <div class="how-to-con" data-carousel-target="slide" style="display: none">
    <div class="text-wrapper">
      <div class="title">Ako to funguje?</div>
      <div class="subtitle">2. Podnet prepošleme zodpovednej samospráve</div>
    </div>
    <div class="images-block">
      <figure>
        <%= image_tag 'how-to-office.svg' %>
      </figure>
    </div>
    <div class="how-to-button-con">
      <a href="" class="button-how-to button-back" data-carousel-target="previous" data-action="click->carousel#previous">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20">
          <polygon points="2.21 19.71 .79 18.29 9.09 10 .79 1.71 2.21 .29 11.91 10 2.21 19.71"/>
        </svg>
      </a>
      <a href="" class="button-how-to button-next" data-carousel-target="next" data-action="click->carousel#next">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20">
          <polygon points="2.21 19.71 .79 18.29 9.09 10 .79 1.71 2.21 .29 11.91 10 2.21 19.71"/>
        </svg>
      </a>
    </div>
  </div>

  <div class="how-to-con" data-carousel-target="slide" style="display: none">
    <div class="text-wrapper">
      <div class="title">Ako to funguje?</div>
      <div class="subtitle">3. Sledujte riešenie podnetu</div>
    </div>
    <div class="images-block">
      <figure>
        <%= image_tag 'how-to-clock.svg' %>
      </figure>
    </div>
    <div class="how-to-button-con">
      <a href="" class="button-how-to button-back" data-carousel-target="previous" data-action="click->carousel#previous">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20">
          <polygon points="2.21 19.71 .79 18.29 9.09 10 .79 1.71 2.21 .29 11.91 10 2.21 19.71"/>
        </svg>
      </a>
      <a href="" class="button-how-to button-next" data-carousel-target="next" data-action="click->carousel#next">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20">
          <polygon points="2.21 19.71 .79 18.29 9.09 10 .79 1.71 2.21 .29 11.91 10 2.21 19.71"/>
        </svg>
      </a>
    </div>
  </div>
</div>