<section class="identity">
  <h1>Odomknite všetky funkcie!</h1>

  <div class="form-other-con">
    <%= image_tag "locked.png", alt: "" %>
    <div class="form-description prose">
      <p>Ak chcete využívať túto funkcionalitu portálu Odkaz pre starostu, musíte mať overený účet. <strong>Overenie prebieha SMS správou a&nbsp;zaberie vám asi minútu.</strong></p>
    </div>

    <%= link_to "Overiť účet", new_profile_verification_path, class: "button" %>
  </div>
</section>
