<% content_for(:title, @user.responsible_subject ? "Profil" : "Môj profil") %>

<section class="profile">
  <% if @user.responsible_subject %>
    <%= render "responsible_subject_profile" %>
  <% else %>
    <%= render "citizen_profile" %>
  <% end %>
</section>
