<p class="ops-email-title">Prihlásenie na portál Odkaz pre starostu</p>

<p class="ops-email-paragraph">
  Dobrý deň, obdržali sme informáciu so žiadosťou o prihlásenie do Vášho účtu na portáli Odkaz pre starostu.
</p>

<p class="ops-email-paragraph">
  <%= ops_button "Prihlásiť sa", @email_auth_link %>
</p>

<p class="ops-email-notice">
  Ak ste o toto prihlásenie nežiadali, tento e-mail môžete ignorovať.
</p>

<p class="ops-email-paragraph">
  Ďakujeme za Vašu spoluprácu.
</p>
<%= render "signature" %>
