DB_HOST=
DB_USER=
DB_PASSWORD=
LEGACY_DB_URL=
LEGACY_PORTAL_URL=https://www.sampleurl.com

TRIAGE_ZAMMAD_API_TOKEN=
TRIAGE_ZAMMAD_URL=
TRIAGE_ZAMMAD_WEBHOOK_SECRET=

CONNECTOR__ZAMMAD_API_TOKEN=
CONNECTOR__ZAMMAD_URL=
CONNECTOR__ZAMMAD_WEBHOOK_SECRET=

CONNECTOR__OPS_API_URL=http://localhost:3000/

GEMINI_API_KEY=


CONNECTOR_WEBHOOK_URL=http://localhost:3000/connector/webhook

DEFAULT_USER_EMAIL=marek.celuch@slovensko.digital
DEFAULT_USER_ZAMMAD_IDENTIFIER=3
DEFAULT_USER_FIRSTNAME=Marek
DEFAULT_USER_LASTNAME=Ceľuch

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

CMS_ROOT_CATEGORY_ID=
