DB_HOST=
DB_USER=
DB_PASSWORD=
LEGACY_DB_URL=
LEGACY_PORTAL_URL=https://www.sampleurl.com

TRIAGE_ZAMMAD_API_TOKEN=
TRIAGE_ZAMMAD_URL=
TRIAGE_ZAMMAD_WEBHOOK_SECRET=

CONNECTOR__OPS_API_URL=http://localhost:3000/
CONNECTOR_WEBHOOK_URL=http://localhost:3000/connector/webhook

GEMINI_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

APP_HOST=http://localhost:3000
CMS_ROOT_CATEGORY_ID=
