TRIAGE_ZAMMAD_API_TOKEN=
TRIAGE_ZAMMAD_URL=
TRIAGE_ZAMMAD_WEBHOOK_SECRET=


CONNECTOR__OVM_ZAMMAD_API_TOKEN=
CONNECTOR__OVM_ZAMMAD_URL=
CONNECTOR__OVM_ZAMMAD_WEBHOOK_SECRET=

CONNECTOR__OPS_API_URL=
CONNECTOR__OPS_API_WEBHOOK_SECRET=
CONNECTOR__OPS_API_SUBJECT=
CONNECTOR__OPS_API_PRIVATE_KEY=
