<div class="unverified-notice-con">
  <div class="unverified-notice-title">Chcete pridať komentár alebo overiť podnet? Musíme overiť váš účet</div>
  <div class="unverified-notice-description">Aby ste mohli využívať všetky funkcie portálu Odkaz pre starostu, je potrebné overiť váš účet pomocou
    bezpečnostného kódu, ktorý bude zaslaný na váš telefón.</div>
  <%= link_to "Overiť účet", new_profile_verification_path, class: "button" %>
</div>
