<div class="unverified-notice-con">
  <div class="unverified-notice-title">Nemôžete pridať komentár alebo označiť podnet za vyriešený</div>
  <div class="unverified-notice-description">Podnety môžete komentovať alebo označiť za vyriešené len vtedy, ak ste priradený ako zodpovedná osoba pre daný podnet.</div>
</div>