<div class="photo">
  <figure>
    <div class="inside">
      <figure>
        <picture>
          <%= image_tag "pochvala-znacka.png" %>
        </picture>
      </figure>
    </div>
    <picture>
      <%= image_tag "pochvala-medaila.png" %>
    </picture>
  </figure>
</div>
