<div class="photo">
  <% if issue.respond_to?(:distance) %>
    <div class="distance"><%= number_to_human issue.distance.to_i, units: :distance, precision: 2, significant: true, format: "%n%u" %></div>
  <% end %>
  <figure>
    <picture>
      <%= image_tag issue.photos[0].variant(:small) if issue.photos.attached? %>
    </picture>
  </figure>
</div>
