<div class="photo">
  <figure>
    <div class="inside">
      <figure>
        <picture>
          <%= image_tag "otazka-znacka.png" %> <!-- TODO -->
        </picture>
      </figure>
    </div>
    <picture>
      <%= image_tag issue.photos.first.variant(:small) if issue.photos.attached? %>
    </picture>
  </figure>
</div>
