<!-- Zoznam podnetov -->
<% if @search_results.hits.length > 0 %>
  <div class="wrapper-list">
    <div class="podnet-block-con">
      <%= render @search_results.hits %>
    </div>
    <%= ops_paginate @search_results.hits %>
  </div>
<% else %>
  <section class="search-result-blank">
    <h1>Mrzí nás to, ale nič sa nenašlo</h1>

    <figure class="empty-box">
      <%= image_tag "krabica.png", alt: "" %>
    </figure>

    <div class="notice">Vybraným filtrom nevyhovujú žiadne dopyty. Skúste vyhľadávanie upraviť.
    </div>
  </section>
<% end %>
