<!-- Mapa podnetov -->
<% if @search_results.stats.length > 0 %>
  <div class="wrapper-map">
    <div class="container-map" id="map" data-controller="search-map" data-search-map-target="map" data-search-map-geo-json-url-value="<%= geo_issues_path(@search_results.search_params.except(:tab, :sort)) %>"></div>
  </div>
<% else %>
  <section class="search-result-blank">
    <h1>Mrzí nás to, ale nič sa nenašlo</h1>

    <figure class="empty-box">
      <%= image_tag "krabica.png", alt: "" %>
    </figure>

    <div class="notice">Vybraným filtrom nevyhovujú žiadne dopyty. Skúste vyhľadávanie upraviť.
    </div>
  </section>
<% end %>
