<!-- Mapa podnetov -->
<div class="wrapper-map">
  <div class="container-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2661.9686848554074!2d17.120227465765883!3d48.14940894609162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c89487e51d8ef%3A0x14889cbccbdbb8ba!2sSasinkova%202631%2F12%2C%20811%2008%20Bratislava!5e0!3m2!1ssk!2ssk!4v1734441853713!5m2!1ssk!2ssk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
