<%= turbo_frame_tag "new_issue_activity" do %>
  <div class="add-buttons">
    <%= link_to "Pridať komentár", new_issue_issues_user_comment_path(@issue), class: "button add-comment-button" %>
  </div>
<% end %>
