<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New backoffice client</h1>

  <%= render "form", backoffice_client: @backoffice_client %>

  <%= link_to "Back to backoffice clients", backoffice_clients_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
