<%= turbo_frame_tag @comment do %>
  <div class="add-comment-form edit-comment-form" data-controller="autofocus delegate" data-delegate-target="selectorRoot">
    <div class="title">Upraviť komentár</div>
    <%= render "form", issue: @issue, comment: @comment %>
  </div>
<% end %>