<p class="ops-email-paragraph">
  <b>V prípade, že by ste samospráve radi nechali pozitívnu spätnú väzbu, môžete tak urobiť prostredníctvom tohto odkazu nižšie.</b>
</p>
<p class="ops-email-paragraph">
  <%= render "button", url: new_praise_url, label: "Dať pochvalu" %>
</p>
