<p class="ops-email-paragraph">
  <b>Páči sa Vám, čo robíme? Staňte sa našimi podporovateľmi a pomôžte nám zlepšovať naše samosprávy.</b>
</p>
<p class="ops-email-paragraph">
  <%= ops_button "Podporte nás", cms_page_url('podporte-nas') %>
</p>
