<section class="error-page-con">

  <div class="error-page">
    <figure>
      <%= image_tag "hriankovac.svg", alt: "" %>
    </figure>
    <h1 class="error-page-title">Používateľ neexistuje</h1>
    <div class="error-page-notice">Ľutujeme, ale hľadaný používateľský profil sa nenašiel.
      Pozrite si radšej nahlásené podnety vo&#160;vašom okolí.
    </div>
    <%= link_to "Pozrieť podnety", search_issues_path, class: "button button-transparent" %>
  </div>

</section>