<% if flash.any? %>
  <div class="flash-message-container" data-controller="dismiss">
    <% if notice %>
      <div class="flash-messages green">
        <figure>
        </figure>
        <div><%= flash[:notice] %></div>
      </div>
    <% end %>

    <% if alert %>
      <div class="flash-messages red">
        <figure>
        </figure>
        <div><%= flash[:alert] %></div>
      </div>
    <% end %>
  </div>
<% end %>
