<nav class="pagination">

  <a href="" class="button-pagination button-arrow button-left">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 20">
      <path d="M11.5,19l9-9L11.5,1" fill="none" />
      <path d="M.5,10h20" fill="none" />
    </svg>
  </a>

  <div class="pages-con">

    <a href="" class="button-pagination">1</a>
    <a href="" class="button-pagination">2</a>
    <a href="" class="button-pagination">3</a>
    <span class="dash"></span>
    <a href="" class="button-pagination">4867</a>

  </div>

  <a href="" class="button-pagination button-arrow button-right">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 20">
      <path d="M11.5,19l9-9L11.5,1" fill="none" />
      <path d="M.5,10h20" fill="none" />
    </svg>
  </a>

</nav>
