<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing api integration</h1>

  <%= render "form", api_integration: @api_integration %>

  <%= link_to "Show this api integration", @api_integration, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to api integrations", api_integrations_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
