<%= turbo_frame_tag @update do %>
  <div class="add-comment-form edit-comment-form" data-controller="autofocus delegate" data-delegate-target="selectorRoot">
    <div class="title">
      <% if @update.resolves_issue? %>
        Upraviť označenie podnetu
      <% else %>
        Upraviť aktualizáciu podnetu
      <% end %>
    </div>
    <%= render "form", issue: @issue, update: @update %>
  </div>
<% end %>
