<%= turbo_frame_tag "activity_form_content" do %>
  <div class="add-comment-form-con" data-controller="autofocus delegate" data-autofocus-target="scrollAnchor" data-delegate-target="selectorRoot">
    <div class="add-comment-form">
      <div class="title">
        <% if @update.resolves_issue? %>
          Označiť podnet za vyriešený
        <% else %>
          Aktualizovať podnet
        <% end %>
      </div>
      <div class="description">
        <% if @update.resolves_issue? %>
          Pri označení podnetu za vyriešený je potrebné pridať fotografiu, ktorá dokumentuje, že podnet bol vyriešený.
        <% else %>
          Pri aktualizovaní podnetu je potrebné vždy pridať aj fotografiu, ktorá dokumentuje aktuálny stav.
        <% end %>
      </div>
      <%= render "form", issue: @issue, update: @update %>
    </div>
  </div>
<% end %>
