<!DOCTYPE html>
<html lang="sk">
<head>
  <title>Prebieha údržba | Odkaz pre starostu</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
</head>
<body class="error-server-body">
<div class="error-server">
  <figure class="error-server-logo">
    <%= image_tag "ops-logo.svg", alt: "Logo" %>
  </figure>
  <figure class="error-server-robot">
    <%= image_tag "robot.svg", alt: "Robot" %>
  </figure>
  <h1 class="error-server-title">Makáme na tom!</h1>
  <div class="error-server-notice">Momentálne prebieha údržba projektu Odkaz&nbsp;pre&nbsp;starostu. Vydržte.</div>
</div>
</body>
</html>