<section class="error-page-con">

  <div class="error-page">
    <figure>
      <%= image_tag "hriankovac.svg", alt: "" %>
    </figure>
    <h1 class="error-page-title">Hups!</h1>
    <div class="error-page-notice">Prepáčte, ale stránka sa nenašla ani v&#160;našom hriankovači. Pozrite si radšej
      nahlásené podnety vo&#160;vašom okolí.
    </div>
    <%= link_to "Pozrieť podnety", search_issues_path, class: "button button-transparent" %>
  </div>

</section>