<%= turbo_frame_tag "activity_form_content" do %>
  <div class="add-comment-form-con" data-controller="delegate" data-autofocus-target="scrollAnchor" data-delegate-target="selectorRoot">
    <div class="add-comment-form">
      <div class="title">Odstúpiť alebo preposlať podnet</div>
      <div class="description">
        Vyberte jednu z možností a doplňte komentár.
      </div>
      <%= render "form", issue: @issue, change: @change %>
    </div>
  </div>
<% end %>
