.not-implemented {
    cursor: not-allowed;
}

button,
.button-add-picture {
    cursor: pointer;
}

.search-con input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

article .lightbox .meta {
    display: none;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

form .error-message {
    background-color: #FFD2E6;
    padding: 10px;
    border-radius: 6px;
}

.flash {
    padding: 10px;
    border-radius: 6px;
    margin: 2em auto;
    width: 20em;
}

.flash.alert {
    background-color: #ff4761;
}

.flash.notice {
    background-color: #ffd400;
}

.sr-only {
    display: none;
}

.issues-draft-map {
    height: 40vh;
    position: relative;
}

.issues-draft-map-pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    font-size: 3em;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    line-height: 16px;
}

form[aria-busy='true'] .button-add-picture {
    animation: rotate360 1500ms linear infinite;
}

@keyframes rotate360 {
    to {
        transform: rotate(360deg);
    }
}
