<section class="report">

  <h1 class="center">Podnet bol odoslaný!</h1>

  <div class="sent-picture">
    <figure>
      <picture>
        <%= image_tag "odoslane.png", alt: "" %>
      </picture>
    </figure>
  </div>

  <div class="report-suggestion-description">
    <p><strong>Ďakujeme za zaslanie podnetu.</strong></p>
    <p>Podnet po schválení zašleme samospráve, ktorá sa ním bude zaoberať.<br>Ďakujeme, že takto pomáhate zlepšovať naše spoločné okolie.</p>
  </div>

</section>