<%= link_to cms_page_path([ page.category.slug, page.slug ]), class: "news-block" do %>
  <% if page.thumbnail_url.present? %>
    <div class="news-block-image">
      <%= image_tag page.thumbnail_url, alt: page.title %>
    </div>
  <% end %>
  <h2 class="news-block-title"><%= page.title %></h2>
  <div class="date"><%= l page.created_at.to_date %></div>
<% end %>