<% content_for :title, @category.name + " | Odkaz pre starostu" %>

<section class="news">
  <h1><%= @category.name %></h1>
  <div class="news-con">
    <%= render @pages %>
  </div>
  <%= ops_paginate @pages %>
</section>
