<!-- TODO -->
<section class="forms-container report">
  <h1>Daj pochvalu</h1>

  <form action="">
    <div class="form-other-con">
      <div class="form-description">Polia označené * sú povinné.</div>

      <div class="form-items-con">
        <div class="form-item-wrapper">
          <label for="title">Text pochvaly*</label>
          <textarea placeholder="Sem napíš svoju pochvalu"></textarea>
        </div>
        <div class="form-item-wrapper">
          <label for="title">Obec*</label>
          <div class="dropdown-button">
            <span class="gray-text">Vybrať</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
              <polygon points="7 14.07 0 7.07 1.14 5.93 7 11.79 12.86 5.93 14 7.07 7 14.07"/>
            </svg>
          </div>
        </div>
        <div class="form-item-wrapper">
          <label for="title">Zodpovedný subjekt*</label>
          <div class="dropdown-button">
            <span class="gray-text">Vybrať</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
              <polygon points="7 14.07 0 7.07 1.14 5.93 7 11.79 12.86 5.93 14 7.07 7 14.07"/>
            </svg>
          </div>
        </div>
        <div class="form-item-wrapper">
          <label for="title">Typ pochvaly*</label>
          <div class="dropdown-button">
            <span class="gray-text">Vybrať</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
              <polygon points="7 14.07 0 7.07 1.14 5.93 7 11.79 12.86 5.93 14 7.07 7 14.07"/>
            </svg>
          </div>
        </div>
        <div class="form-item-wrapper">
          <label for="title">Viac info o adresátovi</label>
          <textarea placeholder="Sed et tempus metus. Quisque placerat auctor mattis. Quisque efficitur est nec enim laoreet, quis lobortis diam vestibulum."></textarea>
        </div>


      </div>

      <input class="button" type="submit" value="Odoslať">
    </div>
  </form>
</section>
