<section class="report">

  <h1 class="center">Pochvala bola odoslaná!</h1>

  <div class="sent-picture">
    <figure>
      <picture>
        <%= image_tag "odoslane.png", alt: "" %>
      </picture>
    </figure>
  </div>

  <div class="report-suggestion-description">
    <p><strong>Ďakujeme za zaslanie pochvaly.</strong></p>
    <p>Ďakujeme, že takto pomáhate zlepšovať naše spoločné okolie.</p>
  </div>

</section>
