<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
      body.ops-email-body {
          background-color: #ffffff;
          margin: 0;
          padding: 0;
      }
      table.ops-email-table {
          color: #1c3054;
          font-family: Helvetica, Arial, sans-serif;
          line-height: 130%; text-align: left;
          font-size: initial; max-width: 600px;
          margin: 0 auto; padding: 0;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-rendering: optimizeLegibility;
      }

      /* Header */
      td.ops-email-images-top-con {
          padding: 0 10%;
      }
      p.ops-email-paragraph-top {
          margin: 0;
          padding: 50px 0px;
          text-align: center;
      }
      img.ops-email-images-top {
          display: block;
          margin: 0 auto;
          max-width: 140px;
          padding: 0px;
          text-align: center;
      }

      /* Main */
      td.ops-email-general-con {
          background-color: #e0fbff;
          border-radius: 20px;
          padding: 26px 5% 0px 5%;
      }
      p.ops-email-title {
          color: #1C3054;
          font-size: 26px;
          font-weight: bold;
          line-height: 160%;
          margin: 0;
          padding: 0px 0px 30px 0px;
          text-align: left;
      }
      p.ops-email-paragraph {
          color: #1C3054;
          font-size: 18px;
          line-height: 160%;
          margin: 0;
          padding: 0px 0px 30px 0px;
          text-align: left;
      }
      a.ops-email-button {
          border: 1px solid #1C3054;
          border-radius: 100px;
          color: #1C3054;
          display: inline-block;
          font-size: 18px;
          line-height: 100%;
          margin-right: 10px;
          padding: 10px 18px;
          text-align: center;
          text-decoration: none;
      }
      p.ops-email-notice {
          color: #8d97a9;
          font-size: 14px;
          line-height: 160%;
          margin: 0;
          padding: 0px 0px 30px 0px;
          text-align: left;
      }
      a.ops-email-notice-link {
          color: #8d97a9;
          font-size: 14px;
          line-height: 160%;
          margin: 0;
          padding: 0px 0px 30px 0px;
          text-align: left;
          text-decoration: underline;
      }

      /* Footer */
      td.ops-email-footer-con {
          padding: 30px 10% 30px 10%;
      }
      p.ops-email-footer-paragraph {
          color: #8d97a9;
          font-size: 14px;
          line-height: 160%;
          margin: 0;
          padding: 0px 0px 0px 0px;
          text-align: center;
      }
      a.ops-email-footer-link {
          color: #8d97a9;
          text-decoration: underline;
      }
      p.ops-email-paragraph-bottom {
          margin: 0;
          padding: 50px 0px;
          text-align: center;
      }
      img.ops-email-images-bottom {
          display: block;
          margin: 0 auto;
          max-width: 140px;
          padding: 0px;
          text-align: center;
      }
      a.ops-email-footer-social-link {
          color: #8d97a9;
          padding: 0 5px;
          text-align: center;
          text-decoration: underline;
      }
      a.ops-email-link {
          color: #1C3054;
      }
      a.ops-email-link:hover {
          color: #ff4761;
      }
  </style>
</head>

<body class="ops-email-body">
<div>
  <table class="ops-email-table" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
      <td class="ops-email-images-top-con">
        <%= render "header" %>
      </td>
    </tr>
    <tr>
      <td class="ops-email-general-con">
        <%= yield %>
      </td>
    </tr>
    <tr>
      <td class="ops-email-footer-con">
        <%= render "footer" %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
